<ion-item-group *ngIf="tracks">
  <ng-container *ngIf="tracks[0]; else skeleton">
    <ion-item-sliding *ngFor="let track of tracks">
      <ion-item-options side="start">
        <ng-container *ngIf="audio?.paused; else pauseButton">
          <ion-item-option
            class="play-button"
            color="secondary"
            (click)="emitPlay(track); audio?.play();">
              Play
          </ion-item-option>
        </ng-container>
        <ng-template #pauseButton>
          <ion-item-option
            class="pause-button"
            color="secondary"
            (click)="emitPause(track); audio?.pause();">
              Stop
          </ion-item-option>
        </ng-template>
      </ion-item-options>
    
      <ion-item>
        <ion-label>
            <span class="track-name">
              <p>{{track.name}}</p>
            </span>
            <ion-progress-bar
              [value]="audio.currentTime / track.duration"
              [color]="audio.paused ? 'light' : 'secondary'"
              type="determinate">
            </ion-progress-bar>
            <audio
              #audio
              src="{{streamEndpoint(track)}}"
              preload="none"
              (timeupdate)="triggerChangeDetection()">
            </audio>
        </ion-label>
      </ion-item>
    
      <ion-item-options side="end">
        <ion-item-option
          class="delete-button"
          color="danger"
          (click)="emitDelete(track)">
            Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>

  <ng-template #skeleton>
    <ion-item *ngFor="let nullTrack of tracks">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-item-group>